.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  min-height: 200px;
}

.spinner {
  position: relative;
  display: inline-block;
}

.spinner-small {
  width: 30px;
  height: 30px;
}

.spinner-medium {
  width: 50px;
  height: 50px;
}

.spinner-large {
  width: 80px;
  height: 80px;
}

.spinner-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top-color: var(--white-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-ring:nth-child(1) {
  animation-delay: 0s;
}

.spinner-ring:nth-child(2) {
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  border-top-color: var(--gray-light);
  animation-delay: 0.2s;
  animation-duration: 1.2s;
}

.spinner-ring:nth-child(3) {
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
  border-top-color: var(--white-primary);
  animation-delay: 0.4s;
  animation-duration: 1.4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  color: var(--text-secondary);
  font-size: 0.9375rem;
  font-weight: 500;
}

