.three-scene-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Allow interaction with elements below */
  overflow: hidden;
}

.three-scene-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

